-- DropForeignKey
ALTER TABLE "lancamentos" DROP CONSTRAINT "lancamentos_userId_fkey";

-- DropIndex
DROP INDEX "lancamentos_data_idx";

-- DropIndex
DROP INDEX "lancamentos_tipo_status_idx";

-- AlterTable
ALTER TABLE "lancamentos" ALTER COLUMN "valor" SET DATA TYPE DECIMAL(10,2),
ALTER COLUMN "status" DROP DEFAULT,
ALTER COLUMN "data" SET DATA TYPE TEXT,
ALTER COLUMN "userId" SET NOT NULL;

-- AlterTable
ALTER TABLE "logs_sistema" DROP COLUMN "createdAt",
DROP COLUMN "detalhes",
ADD COLUMN     "dataHora" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "detalhe" TEXT NOT NULL,
ADD COLUMN     "modulo" TEXT NOT NULL;

-- AddForeignKey
ALTER TABLE "lancamentos" ADD CONSTRAINT "lancamentos_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

